  API_KEY="AIzaSyAUakPguF8LtExV4lg6ZE5bvzmTE2fWoGA",

  AUTH_DOMAIN= "stse-chat-app.firebaseapp.com",

  PROJECT_ID= "stse-chat-app",

  STOREAGE_BUCKET="stse-chat-app.firebasestorage.app",

  MESSAGING_SENDING_ID= "384123038289",

  APP_ID= "1:384123038289:web:5d4e4560ba056112916670",

  MEASUREMENT_ID= "G-V97E08N7RV"
